*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
#box{
    width: 100px;
    height: 100px;

}

#boxpc{
    width: 100px;
    height: 100px;
}
.uno{
    background-image: url(../img/1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    rotate: 90deg;
}
.due{
    background-image: url(../img/2.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
.tre{
    background-image: url(../img/3.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
.quattro{
    background-image: url(../img/4.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
.cinque{
    background-image: url(../img/5.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
.sei{
    background-image: url(../img/6.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
.animazione {
    font-size: 100px;
	animation: animazionetitolo 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @keyframes animazionetitolo {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  